
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEstadoLabel">Create or edit a Estado</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.estado.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.estado.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.estado.nome"
                    required ng-minlength="2" ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9_\\.\\s\\-\\&]*$/" />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.maxlength">
                    This field cannot be longer than 200 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.pattern" translate-value-pattern="^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$">
                    This field should follow pattern "^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_uf">Uf</label>
            <input type="text" class="form-control" name="uf" id="field_uf"
                    ng-model="vm.estado.uf"
                    required ng-minlength="2" ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9_\\.\\s\\-\\&]*$/" />
            <div ng-show="editForm.uf.$invalid">
                <p class="help-block"
                    ng-show="editForm.uf.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.uf.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.uf.$error.maxlength">
                    This field cannot be longer than 200 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.uf.$error.pattern" translate-value-pattern="^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$">
                    This field should follow pattern "^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codigoIBGE">Codigo IBGE</label>
            <input type="text" class="form-control" name="codigoIBGE" id="field_codigoIBGE"
                    ng-model="vm.estado.codigoIBGE"
                    required ng-minlength="2" ng-maxlength="200" ng-pattern="/^[a-zA-Z0-9_\\.\\s\\-\\&]*$/" />
            <div ng-show="editForm.codigoIBGE.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoIBGE.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoIBGE.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoIBGE.$error.maxlength">
                    This field cannot be longer than 200 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.codigoIBGE.$error.pattern" translate-value-pattern="^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$">
                    This field should follow pattern "^[a-zA-Z0-9_\\.\\s\\-\\&amp;]*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.estado.status" id="field_status" required>
                <option value="INATIVO">INATIVO</option>
                <option value="ATIVO">ATIVO</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
